{{ partial:stats/nav }}

{{ gen_total = 9}}

{{ cache for="20 minutes "}}
<div class="my-4 text-xl">Types Per Generation</div>
<div class="w-3/4">
    <table class="w-full">
        <tr>
            <th></th>
            {{ loop :times="gen_total" }}
                <th class="text-right">Gen {{ value }}</th>
            {{ /loop }}
            <th class="text-right pr-2">Total</th>
        </tr>
        {{ taxonomy:types }}
            {{ total_pokemon = 0}}
            {{ total_art = 0}}
            <tr style="background: linear-gradient(to bottom, transparent, {{ color }}44);">
                <th class="pt-4">
                    <i class="fa-solid {{ icon }}" style="color: {{ color }}"></i><br>
                    {{ title }}
                </th>
                {{ loop :times="gen_total"}}
                    {{ art_count = 0 }}
                    {{ pokemon_count = 0 }}
                    <td class="text-right">
                        {{ collection:pokemon as="pokemon" select="art" :generation:is="value" :taxonomy:types="slug" }}
                            {{ pokemon }}
                                {{ if art }}
                                    {{ art_count += 1 }}
                                {{ /if }}
                            {{ /pokemon }}
                            {{ pokemon_count = pokemon | count}}
                            {{ total_pokemon += pokemon_count }}
                            {{ total_art += art_count }}
                        {{ /collection:pokemon }}
                        {{ unless pokemon_count == 0 }}
                            {{ art_count }} / {{ pokemon_count }} <br>
                            {{ ( art_count * 100 / (pokemon_count ?? 1) ) | round(2) }}%
                        {{ /unless }}
                    </td>
                {{ /loop }}
                <td class="text-right pr-2">
                    {{ total_art }} / {{ total_pokemon }} <br>
                    {{ ( total_art * 100 / (total_pokemon ?? 1) ) | round(2) }}%
                </td>
            </tr>
            <tr>
                <td colspan="{{ gen_total + 2 }}" class="h-4 bg-black">
                    {{ width = ( total_art * 100 / ( total_pokemon ?? 1 )) }}
                    <div class="h-full" style="background: {{ color }}; width: {{ width }}%"></div>
                </td>
            </tr>
        {{ /taxonomy:types }}
    </table>
</div>
{{ /cache }}

{{#
<div class="my-4 text-xl">Tags Per Generation</div>
<div class="w-3/4">
    <table class="w-full">
        <tr>
            <th></th>
            {{ loop :times="gen_total" }}
                <th class="text-right">Gen {{ value }}</th>
            {{ /loop }}
            <th class="text-right pr-2">Total</th>
        </tr>
        {{ taxonomy:tags }}
            {{ total_pokemon = 0}}
            {{ total_art = 0}}
            <tr style="background: linear-gradient(to bottom, transparent, {{ color }}44);">
                <th class="pt-4">
                    <i class="fa-solid {{ icon }}" style="color: {{ color }}"></i><br>
                    {{ title }}
                </th>
                {{ loop :times="gen_total"}}
                    {{ art_count = 0 }}
                    {{ pokemon_count = 0 }}
                    <td class="text-right">
                        {{ collection:pokemon as="pokemon" :generation:is="value" :taxonomy:tags="slug" }}
                            {{ pokemon }}
                                {{ if art }}
                                    {{ art_count += 1 }}
                                {{ /if }}
                            {{ /pokemon }}
                            {{ pokemon_count = pokemon | count}}
                            {{ total_pokemon += pokemon_count }}
                            {{ total_art += art_count }}
                        {{ /collection:pokemon }}
                        {{ unless pokemon_count == 0 }}
                            {{ art_count }} / {{ pokemon_count }} <br>
                            {{ ( art_count * 100 / (pokemon_count ?? 1) ) | round(2) }}%
                        {{ /unless }}
                    </td>
                {{ /loop }}
                <td class="text-right pr-2">
                    {{ total_art }} / {{ total_pokemon }} <br>
                    {{ ( total_art * 100 / (total_pokemon ?? 1) ) | round(2) }}%
                </td>
            </tr>
            <tr>
                <td colspan="{{ gen_total + 2 }}" class="h-4 bg-black">
                    {{ width = ( total_art * 100 / ( total_pokemon ?? 1 )) }}
                    <div class="h-full" style="background: {{ color }}; width: {{ width }}%"></div>
                </td>
            </tr>
        {{ /taxonomy:tags }}
    </table>
</div> #}}
