{{ if types | count > 1 }}
    {{ gradient = "linear-gradient(to right, " + types:0:color + ", " + types:1:color + ")"}}
{{ else }}
    {{ gradient = types:0:color }}
{{ /if }}

{{ if art | count > 0  }}
    {{ image_url = art:0:image:url }}
{{ else }}
    {{ image_url = site:default_pokemon_image:url }}
{{ /if }}
<div class="h-96 w-2/5 relative bg-slate-800 rounded-2xl shadow-md shadow-black"
    x-data="{hovering: false}"
    @mouseenter="hovering=true"
    @mouseleave="hovering=false">
    <div class="flex justify-end px-4 items-center h-1/6 rounded-t-2xl border-b-2 border-white text-darkgray font-bold text-2xl"
        style="background: {{ gradient }}">
        {{ title | upper }}
    </div>
    <div>
        {{ if art | count > 0  }}
            <img class="w-64 lg:absolute lg:w-auto bg-slate-800 lg:bg-transparent z-10 -bottom-16 -left-5 transition-all"
                src="{{ image_url }}" alt="">
        {{ /if }}
    </div>
    <div class="h-5/6 flex flex-col items-end justify-between leading-none text-lg"
        style="background: url('{{ image_url }}') left/100% no-repeat; background-blend-mode: screen">
        <div class="w-full h-full p-4 flex flex-col items-end justify-evenly leading-none text-lg backdrop-blur-md rounded-b-2xl bg-slate-800 bg-opacity-60">
            <div><span class="opacity-50"># </span>{{ formatted_number }}</div>
            <div>Generation {{ generation }}</div>
            <div>
                {{ tags }}
                    {{ partial:tag-button }}
                {{ /tags }}
            </div>
            <div class="flex gap-2">
                {{ types }}
                    <div class="flex flex-col justify-center items-center p-2">
                        <i class="fa-solid {{ icon }} fa-2xl p-1" style="color: {{ color }}"></i>
                        <div class="p-4">
                            {{ title }}
                        </div>
                    </div>
                {{ /types }}
            </div>
        </div>
    </div>
</div>
