{{ if types | count > 1 }}
    {{ background = "linear-gradient(to right, " + types:0:color + ", " + types:1:color + ")"}}
{{ else }}
    {{ background = types:0:color }}
{{ /if }}

<a href="{{ url }}" class="m-4 ">
    <div class="h-24 w-48 rounded-lg relative hover:cursor-pointer bg-slate-800 shadow-md shadow-black"
        x-data="{hovering: false}"
        @mouseenter="hovering=true"
        @mouseleave="hovering=false">
        <div class="h-1/4 rounded-t-lg border-b-2 border-white" style="background: {{ background }}">

        </div>
        <div>
            {{ art }}
                {{ if no_results }}
                    <img class="w-24 absolute top-1 left-2 opacity-50"
                        src="{{ site:default_pokemon_image:url }}" alt="">
                {{ else }}
                    <img class="w-32 absolute -bottom-2 -left-5 transition-all"
                        :class="hovering ? 'animate-bounce' : ''"
                        src="{{ art:0:image:url }}" alt="">
                {{ /if }}
            {{ /art }}
        </div>
        <div class="h-3/4 flex flex-col items-end justify-around pb-1 pr-2 leading-none">
            <div>{{ number }}</div>
            <div>{{ title }}</div>
            <div>
                {{ types }}
                    <i class="fa-solid {{ icon }} p-1" style="color: {{ color }}"></i>
                {{ /types }}
            </div>
        </div>
    </div>
</a>
