{{ partial:page-title }}
    {{ title }}
{{ /partial:page-title }}

<div id="app">
    <pokedex
        :pokedex="{{ collection:pokemon as='entry' }}{{ entry | to_json | entities }}{{ /collection:pokemon }}"
    />
</div>

{{# {{ partial:pokemon/filter-menu }}

<div>
    {{gen = get:gen ?? ''}}
    {{ collection:pokemon sort="number" as="pokemon" paginate="100" :title:contains="get:q" :taxonomy:types="get:type" :generation:is="gen" :taxonomy:tags="get:tag" }}
        {{ if no_results }}
            No results!
        {{ /if }}

        {{ paginate }}
            {{ partial:pagination }}
        {{ /paginate }}

        <div class="flex flex-wrap justify-center">
            {{ pokemon }}
                {{ partial:pokemon/pokemon-card }}
            {{ /pokemon }}
        </div>

        {{ paginate }}
            {{ partial:pagination }}
        {{ /paginate }}
    {{ /collection:pokemon }}
</div> #}}
