<div class="w-full flex flex-wrap justify-center">
    {{ taxonomy:types }}
        <i class="fa-solid {{ icon }} p-1" style="color: {{ color }}"></i>
    {{ /taxonomy:types }}
</div>

<div>
    {{ collection:pokemon sort="number" as="pokemon" paginate="50" }}
        {{ if no_results }}
            No results!
        {{ /if }}

        {{ paginate }}
            {{ partial:pagination }}
        {{ /paginate }}

        <div class="flex flex-wrap">
            {{ pokemon }}
                {{ partial:pokemon/pokemon-card }}
            {{ /pokemon }}
        </div>

        {{ paginate }}
            {{ partial:pagination }}
        {{ /paginate }}
    {{ /collection:pokemon }}
</div>
