{{ partial:page-title }}
    {{ title }}
{{ /partial:page-title }}

<div class="m-10 rounded-lg flex flex-col gap-2 justify-center items-center p-4 sticky top-0 z-10 bg-slate-800 bg-opacity-60 backdrop-blur-sm">
    <div>Filters</div>
    <div><form action="{{ url }}"><input type="search" name="q" value="{{ get:q }}"></form></div>
    <div class="w-full flex flex-wrap justify-center">
        {{ taxonomy:types }}
            <form action="{{ page:url }}">
                <input type="hidden" name="type" value="{{ get:type==slug ? '' : slug }}">
                <button class="rounded-xl p-1 hover:bg-black text-darkgray hover:text-white">
                    <i class="fa-solid {{ icon }} p-1"
                        {{ if get:type=="{{ slug }}" }} style="color: {{ color }}" {{ /if }}></i>
                </button>
            </form>
        {{ /taxonomy:types }}
    </div>
    <a href="{{ url }}">Reset</a>
</div>

<div>
    {{ collection:pokemon sort="number" as="pokemon" paginate="50" :title:contains="get:q" :taxonomy:types="get:type" }}
        {{ if no_results }}
            No results!
        {{ /if }}

        {{ paginate }}
            {{ partial:pagination }}
        {{ /paginate }}

        <div class="flex flex-wrap">
            {{ pokemon }}
                {{ partial:pokemon/pokemon-card }}
            {{ /pokemon }}
        </div>

        {{ paginate }}
            {{ partial:pagination }}
        {{ /paginate }}
    {{ /collection:pokemon }}
</div>
