@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This is all you. */
input {
    background: black;
    border: 1px solid #1e293b;
    border-radius: 2rem;
    padding: 0.25rem;
    text-align: center;
}
