<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title ?? site:name }}</title>
        {{ vite src="resources/js/site.js|resources/css/site.css" }}
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
        <script src="https://kit.fontawesome.com/1b886f8acb.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css" integrity="sha384-BY+fdrpOd3gfeRvTSMT+VUZmA728cfF9Z2G42xpaRkUGu2i3DyzpTURDo5A6CaLK" crossorigin="anonymous">
    </head>
    <body class="flex flex-col min-h-screen w-full bg-black font-sans leading-normal text-white">
        {{ partial:header }}
        <div class="flex w-full flex-grow gap-2 bg-darkgray ">
            <div>{{ partial:nav }}</div>
            <div class="w-1 bg-gradient-to-b from-white"></div>
            <main class="p-2 w-full flex flex-col justify-center items-center">{{ template_content }}</main>
        </div>
        {{ partial:footer }}
    </body>
</html>
